.timer_board{
    display: flex;
}
.timer{
    width: 13px;
    height: 23px;
    background: url("../../img/minesweeper-sprites_9TPZzv3.png") 13px 0px;
}
.timer_0{
    background: url("../../img/minesweeper-sprites_9TPZzv3.png") 13px 0px;
}
.timer_1{
    background: url("../../img/minesweeper-sprites_9TPZzv3.png") 0px 0px;
}
.timer_2{
    background: url("../../img/minesweeper-sprites_9TPZzv3.png") -14px 0px;
}
.timer_3{
    background: url("../../img/minesweeper-sprites_9TPZzv3.png") -28px 0px;
}
.timer_4{
    background: url("../../img/minesweeper-sprites_9TPZzv3.png") -42px 0px;
}
.timer_5{
    background: url("../../img/minesweeper-sprites_9TPZzv3.png") -56px 0px;
}
.timer_6{
    background: url("../../img/minesweeper-sprites_9TPZzv3.png") -70px 0px;
}
.timer_7{
    background: url("../../img/minesweeper-sprites_9TPZzv3.png") -84px 0px;
}
.timer_8{
    background: url("../../img/minesweeper-sprites_9TPZzv3.png") -98px 0px;
}
.timer_9{
    background: url("../../img/minesweeper-sprites_9TPZzv3.png") -112px 0px;
}
